body{
  background-color: rgb(41, 41, 41);
  color: white;
  font-family: 'Quicksand', sans-serif;
  user-select: auto;
}

.navegacion{
  height: 80%;
  border-radius: 5px ;
  background-color: rgb(22, 101, 219);
  display: flex;
  flex-direction: row;
}

.elcontenido{
  display: flex;
  flex-direction: row;
}

.contenido{
  margin: 10px;
  justify-content: left;
  box-shadow: 5px 5px 5px 5px rgb(34, 34, 34);
  padding: 10px;
  border-radius: 5px;
}

#parrafo1{
  margin-top: 50px;
}

.parrafos{
  height: 30px;
  font-size: 1.2em;
  text-align: center;
  color: antiquewhite;
  margin-left: 300px;
  margin-top: 13px;
  border: 2px;
  width: 380px;
  border-style: solid ;
  border-color: rgb(12, 177, 228);
  border-left:none  ;
  border-right: none;
  border-top: none;
  border-radius: 5px;
  box-shadow: 5px  2px 2px rgb(47, 148, 216);
}

.parrafos:hover{
  color: rgb(185, 213, 238)
}

ul{
  width: 300px;
  box-shadow: 5px 5px 5px 5px rgb(34, 34, 34);
}

#h1{
  background-color: rgb(47, 148, 216);
  padding-left: 20px;
  border-radius: 8px;
  margin-left: 5px;
  margin-top: 8px;
  height: 30px;
  width: 400px;
  box-shadow: 5px 5px 5px 5px rgb(0, 42, 53);
}

.informacion{
  display: flex;
  flex-direction: row;
}

.visitas{
  font-size: 1em;
  margin-right: 80%;
  display: flex;
  flex-direction: column;
}

#div2{
  margin: 0;
  width: 600px;
  padding-left: 10px;
  border-radius: 12px;
  box-shadow: 5px 5px 5px 5px rgb(34, 34, 34);
  display: flex;
  flex-direction: row;
  align-items: center;
}

#div1{
  font-size: 2em;
  justify-content:flex-start;
  margin-left: 20px;
}

#fecha{
  font-size: 2em;
}

.h3{
  background-color: rgb(51, 51, 51);
  border-radius: 12px;
  box-shadow: 5px 5px 5px 5px rgb(26, 26, 26);;
  width: 100px;
  padding-left: 20px;
  margin: 15px;
}

.input{
  color: white;
}

.input:hover{
  color:antiquewhite
}

.link{
  color: antiquewhite;
}

.link:hover{
  color: rgb(185, 213, 238)
}